{ 
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "no-shadow": "off",
    "array-callback-return": "off",
    "no-plusplus": "off"
  }
}