* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.textarea {
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 30px;
  display: block;
  width: 1000px;
  height: 200px;
  border: 5px solid #272b2c;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(234, 236, 236);
  outline: none;
  -moz-appearance: none;
  resize: none;
  overflow: auto;
}

.keyboard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1000px;
  height: auto;
  border-radius: 10px;
  background: #272b2c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-shadow: 0px 40px 45px rgba(0, 0, 0, 0.4);
}

.line {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.line:first-child .button:last-child {
  width: 120px;
}

.line:nth-child(2) .button:first-child {
  width: 70px;
}

.line:nth-child(2) .button:last-child {
  width: 100px;
}

.line:nth-child(3) .button:first-child {
  width: 120px;
}

.line:nth-child(3) .button:last-child {
  width: 90px;
}

.line:nth-child(4) .button:first-child {
  width: 130px;
}

.line:nth-child(4) .button:last-child {
  width: 130px;
}

.line:nth-child(5) .button:first-child {
  width: 70px;
}

.line:nth-child(5) .button:nth-child(4) {
  width: 70px;
}

.line:nth-child(5) .button:nth-child(3) {
  width: 435px;
}

.line:nth-child(5) .button:nth-child(2) {
  width: 70px;
}

.line:nth-child(5) .button:last-child {
  width: 70px;
}

.button {
  padding: 10px;
  width: 45px;
  border-radius: 12px;
  color: #71d4fe;
  text-align: center;
  background: #2f3336;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:active {
  transform: scale(0.9);
}

.button.active {
  color: rgb(209, 248, 69);
  transform: scale(0.9);
}
